{
    'extends': 'vue',
    'plugins': [
        'import'
    ],
    'rules': { 
      'array-bracket-spacing': [ 2, 'always' ],
      'no-multiple-empty-lines': [ 2, { "max": 2 } ],
      'camelcase': [ 0, '' ],
      'yoda': [ 0, 'never' ]
    },
    'globals': {
      'location': true,
      'source': true
    }
}