{
    "extends": [ "plugin:vue/base" ],
    "parserOptions": {
      "parser": "babel-eslint"
    },
    "plugins": [
        "import"
    ],
    "rules": { 
      "array-bracket-spacing": [ 2, "always" ],
      "camelcase": [ 0, "" ],
      "yoda": [ 0, "never" ]
    },
    "globals": {
      "location": true,
      "source": true
    },
    "env": {
      "jasmine": true
    }
}