<header class="app-header">
  <a class="app-header__link" href="https://www.mirrormedia.mg/">      
    <amp-img
      alt="app-header__logo"
      src="https://www.mirrormedia.mg/assets/mirrormedia/logo.svg"
      width="102"
      height="49"
    >
      <noscript>
        <img src="https://www.mirrormedia.mg/assets/mirrormedia/logo.svg" width="102" height="49" />
      </noscript>
    </amp-img>
  </a>
</header>