<div id="matched-content-container-amp">
  <h1 class="story-relateds__title">推薦文章</h1>  
  <div>
    <amp-ad
      width=1
      height=3.4
      layout="responsive"
      type="adsense"
      data-ad-client="<%= MATCHED_CONTENT_AD_CLIENT %>"
      data-ad-slot="<%= MATCHED_CONTENT_AD_SLOT %>"
    >
    </amp-ad>
  </div>
</div>