<section class="story-article-section story-article-content">
  <%- include('StoryArticleBody', { body: storyContent, annotation: storyContentAnnotation, storyContentFirstTwoUnstyledParagraph, AMPAds }) %>
</section>