<div id="taboola" class="story-relateds">
  <h1 class="story-relateds__title">你可能也喜歡這些文章</h1>  
  <div>
    <amp-embed 
      width="100" 
      height="100" 
      type="taboola"
      layout="responsive" 
      data-publisher="salesfrontier-mirromediaamp"
      data-mode="alternating-thumbnails-a-amp"
      data-placement="Below Article Thumbnails AMP"
      data-target_type="mix"
      data-article="auto"
      data-url="">
    </amp-embed>
  </div>
</div>