<blockquote class="story-body-blockquote">
  <amp-img
    src="/public/icon/quote.png"
    width="40"
    height="40"
  >
  </amp-img>
  <p class="story-body-blockquote__content"><%- _.get(item, [ 'content', 0 ], '') %></p>
</blockquote>