<blockquote class="story-body-quoteby">
  <div class="story-body-quoteby__content">
    <span class="story-body-quoteby__triangle"></span>
    <div class="story-body-quoteby__quote"><%- _.get(item, [ 'content', 0, 'quote' ], '') %></div>
    <div class="story-body-quoteby__quote-by"><%- _.get(item, [ 'content', 0, 'quoteBy' ], '') %></div>
  </div>
</blockquote>