<amp-video
  controls
  width="1.48"
  height="1"
  layout="responsive"
  src="<%= _.get(item, [ 'content', 0, 'url' ], '') %>"
  poster="/public/notImage.png"
>
  <div fallback>
    <p>This browser does not support the video element.</p>
  </div>
</amp-video>